.myContainer{
    display: flex;
    width: 70vw !important;
    height: 90vh !important;
    margin-top: 10px;
    margin-left: 250px;
    align-items: baseline;
    flex-wrap: wrap;
}


.divDiagramSIG{
    display: flex;
    width: 100vw;
    height: 80vh;
    justify-items: center;
    align-items: baseline;
    flex-wrap: wrap;
}

.mySideNavBar{
    margin-top: 65px !important;
    width: 250px !important;
    height: 100vh;
    margin-bottom: 100px !important; 
}

.labelInfo{
    size: 15px;
    color: black;
}
