.container{

    position: relative;
    text-align: center;
    color: white;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btNewCatalog{
    position: absolute !important;
    bottom: 20px !important;
    right: 10px !important;
}

h5{
    color:black;
}

.titleCatalogsCollection{
    color: black;
}

.background{    
    width: 100vw;
    height: 89vh;
}

.backgroundImage{
    width: 100vw;
    height: 89vh; 
    background-image: url("/imgs/background2.png");    
    opacity: 0.4;
}

